

        <div class="wrap-login100 p-t-50 p-b-90">
            <form class="login100-form validate-form flex-sb flex-w">

                <span class="login100-form-title p-b-51">
                    Formulario Constructora
                </span>

                <div class="wrap-input100 m-b-16">
                    <input class="input100" 
                           type="text" 
                           name="username" 
                           autocomplete="off"
                           placeholder="Campo 1">

                    <span class="focus-input100"></span>
                </div>
                
                <div class="wrap-input100 m-b-16">
                    <input class="input100" 
                           type="text" 
                           name="username" 
                           autocomplete="off"
                           placeholder="Campo 2">

                    <span class="focus-input100"></span>
                </div>
                

            </form>
        </div>


