<nav class="navbar navbar-dark bg-warning">
  <a class="navbar-brand">
    <div class="companyLogo"><img src="../../../assets/img/logo-bancolombia.png" alt="Bienvenidos a grupobancolombia" /></div>
  </a>

  <div class="dropdown">
    
    <div class="container">
      <li class="nav-item dropdown">
        <button class="btn btn-secondary dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          {{ userName }}!
        </button>
            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              <a class="dropdown-item" href="#">Cerrar sesión</a>
            </div>
          </li>
    </div>
  </div>


</nav>