<div class="container-fluid">
    <div class="row">
      <hr>
    </div>
    <div class="inner-container">
  
      <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger"
       class="table table-bordered row-border hover">
        <thead>
          <tr>
            <th>CÓDIGO</th>
            <th>DESCRIPCIÓN</th>
            <th>SELECCIONAR</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let person of persons">
            <td>{{ person.idRegion }}</td>
            <td>{{ person.Nombre }}</td>
            <td><button class="btn btn-link btn-cursor">Editar</button></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

