<div id="stepper1" class="bs-stepper">
    <div class="bs-stepper-header">
      <div class="step" data-target="#test-l-1">
        <button class="step-trigger">
          <span class="bs-stepper-circle">1</span>
          <span class="bs-stepper-label">INFORMACIÓN CONSTRUCTORA</span>
        </button>
      </div>
      
      <div class="line"></div>
      <div class="step" data-target="#test-l-2">
        <button class="step-trigger">
          <span class="bs-stepper-circle">2</span>
          <span class="bs-stepper-label">INFORMACIÓN CONTACTO</span>
        </button>
      </div>
    </div>
    <div class="bs-stepper-content">
  
      <div id="test-l-1" class="content">
  
        <form autocomplete="off">
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label>NOMBRE CONSTRUCTORA *</label>
                <input class="form-control" type="text" placeholder="Campo alfanumérico" maxlength="51" />
              </div>
              <div class="form-group">
                <label>INSTRUMENTADOR *</label>
                <input class="form-control" type="text" placeholder="Campo alfanumérico" maxlength="50" />
              </div>

            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label>TIPO DE PROYECTO *</label>
                <select class="form-control">
                  <option value="" disabled selected> Seleccionar una opción</option>
                  <option value="NIT">NIT</option>
                  <option value="RUT">RUT</option>
                  <option value="FIDEICOMISO">FIDEICOMISO</option>
                </select>
              </div>
            </div>
          </div>
        </form>
  
      </div>

      <div id="test-l-2" class="content">
  
        <form>
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label>NOMBRE CONTACTO *</label>
                <input class="form-control" type="text" placeholder="Campo alfanúmerico" maxlength="51" />
              </div>
  
              <div class="form-group">
                <label>REGIÓN *</label>
                <select class="form-control">
                  <option value="" disabled selected> Seleccionar una opción </option>
                </select>
              </div>
  
              <div class="form-group">
                <label>E-MAIL *</label>
                <input class="form-control" type="text" placeholder="Ingrese correo electrónico válido" maxlength="51" />
              </div>
  
              <div class="form-group">
                <label>DIRECCIÓN *</label>
                <input class="form-control" type="text" placeholder="Campo alfanúmerico" maxlength="51" />
              </div>
            </div>
  
            <div class="col-md-6">
              <div class="form-group">
                <label>TIPO DE CONTACTO *</label>
                <select id="cmbTipoContacto" class="form-control">
                  <option value="" disabled selected> Seleccionar una opción</option>
                  <option value="NIT">Tramitador</option>
                  <option value="RUT">Abogado</option>
                  <option value="FIDEICOMISO">Perito</option>
                </select>
              </div>
  
              <div class="form-group">
                <label>TELÉFONO FIJO *</label>
                <input class="form-control" type="text" placeholder="Ingresar solo números" maxlength="8" />
              </div>
  
              <div class="form-group">
                <label>CELULAR *</label>
                <input class="form-control" type="text" placeholder="Ingresar solo números" maxlength="11" />
              </div>
  
  
  
              <button type="submit" class="btn btn-primary col-md-6 btn-register">
  
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                  class="bi bi-check-circle-fill" viewBox="0 0 16 16">
                  <path
                    d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z" />
                </svg>
  
                Registrar
  
              </button>
  
  
  
            </div>
          </div>
        </form>
  
      </div>
  
      <div class="input-group input-group-location">
        <hr>
        <div class="input-group-append" id="button-addon4">
          <button (click)="previous()" class="btn btn-outline-secondary">Previous</button>
          <button (click)="next()" class="btn btn-outline-secondary">Next</button>
        </div>
      </div>
  
  
  
    </div>
  </div>